.wy-nav-content .toctree-l1 > a {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.wy-nav-content .toctree-l1 > a:hover {
    color: #1e90ff;
    text-decoration: underline;
    font-weight: bold;
}


/* Remove bullets from the contents list in homepage */
body[data-page-name="index"] ul.simple {
    list-style: none;
    padding-left: 0;
}
